.look-info {
  text-align: center;
  overflow: hidden;

  p {
    margin-top: 0;
    margin-bottom: 0.7rem;
  }

  &__cost {
    white-space: nowrap;
  }

  &__brand {
    font-weight: bold;
    white-space: nowrap;
  }

  &__text {
    // max-height: 300px;
    overflow: auto;
  }
}
