.mobile-thrumbnails {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.mobile-thrumbnails__image {
  width : 70px;
  height: auto;
  margin: 10px;

  &--active {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  }
}
