.slider-nav {
  display        : flex;
  justify-content: space-between;

  &__list {
    width : 70px*11+10px*2*11;
    height: 100px;
  }

  &__slide {
    width     : 70px;
    height    : 100px;
    object-fit: contain;
    cursor: pointer;
  }

  &__slide--empty {
    opacity: 0.3;
  }
}

.slider-nav__button {
  .button-reset();

  position: relative;
  width   : 3rem;
  cursor: pointer;

  &:disabled {
    cursor: auto;
    opacity: 0.3;
  }

  &:not(:disabled):focus::before,
  &:not(:disabled):focus::after,
  &:not(:disabled):hover::before,
  &:not(:disabled):hover::after {
    background-color: lighten(#000, 40%);
  }

  &--prev {
    .arrow(left, @weight: 2px);
  }

  &--next {
    .arrow(right, @weight: 2px);
  }
}
