.stack-slider {
  &__track {
    position: relative;

    &>* {
      position           : absolute;
      left               : 0;
      right              : 0;
      bottom             : 0;
      top                : 0;
      opacity            : 0;
      transition-property: 'opacity';
      transition-duration: 1000ms;
    }
  }

  &__track--animation {}
}
