.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #fff;
  background-image: url("../img/icons/preloader.gif");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  &--bundle::before {
    content: "Грузим бандл..."
  }

  &--data::before {
    content: "Грузим данные каталога..."
  }

  &--image::before {
    content: "Грузим картинку..."
  }
}
